.accueil-banner {
  width: 100%;
  height: 100vh;
  background-color: red;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/ResponsiveAccueil.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.accueil-navbar {
  width: 100%;
}
.accueil-title h1 {
  width: 100%;
  padding: 0;
  margin-top: 65px;
  position: absolute;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 5px 1px #919191,
    1px 5px 1px #919191, 1px 5px 1px #919191, 1px 5px 1px #919191,
    1px 5px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.accueil-title h3 {
  width: 100%;
  padding: 0;
  margin-top: 180px;
  position: absolute;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 5px 1px #919191,
    1px 5px 1px #919191, 1px 5px 1px #919191, 1px 5px 1px #919191,
    1px 5px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.accueil-banner-button {
  width: 30px;
  height: 50px;
  top: 80%;
  left: 45%;
  position: absolute;
  border: solid 1px #fff;
  border-radius: 20px;
  cursor: pointer;
}
.accueil-banner-button::before,
.accueil-banner-button::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #fff;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.accueil-banner-button::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.accueil-banner h4 {
  width: 100%;
  padding: 0;
  margin-top: 320px;
  position: absolute;
  font-size: 0.9rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 1px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 1px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 1px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

/* Global Skills */
.accueil-skills {
  width: 98%;
  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: #212121;
}
.skills-title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
}
.underscore_title {
  width: 30%;
  background-color: #3755cc;
  height: 5px;
  border: none;
  border-radius: 5px;
}
/*Skills Part 1 */
.accueil-skills-content {
  width: 100%;
}
.accueil-skills-content h3 {
  height: 120px;
  display: flex;
  align-items: center;
  margin-top: 65px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 65px;
  border: 2px solid;
  border-image: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  border-image-slice: 1;
  border-left: transparent;
  border-right: transparent;
}
.accueil-skills-content ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 65px;
}

.skills-list-one li span {
  text-decoration: underline;
  background: red;
}
.accueil-skills-content ul li {
  padding: 10px;
}
.accueil-skills-content ul h4 {
  font-size: 1rem;
  border-bottom: 2px solid blue;
  border-image: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  border-image-slice: 1;
  padding-bottom: 15px;
  width: 80%;
}
.accueil-skills-content ul p {
  font-style: italic;
}

/*Skills list 2 */

.skill-list-two h3 {
  height: 120px;
  display: flex;
  align-items: center;
  margin-top: 65px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 65px;
  border: 2px solid;
  border-image: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  border-image-slice: 1;
  border-left: transparent;
  border-right: transparent;
}
/* Skills Bar */
.skill-list-two .bar:not(:last-child) {
  margin-bottom: 15px;
}
.bar {
  width: 100%;
  background-color: #444;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #2c2c2c, inset -5px -5px 10px #5c5c5c;
  margin-top: 30px;
}
.bar-stat {
  padding: 8px 20px;
  border-radius: 10px;
  text-shadow: 0 0 5px #000;
  color: #fff;
}

#html {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: htmlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#css {
  background:linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: cssSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#js {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: jsSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#react {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: reactSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#angular {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: angularSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#node {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: nodeSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#c {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: cSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#sql {
  background: linear-gradient(140deg, #00ccff, #080d24, #d400d4);
  animation: sqlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes htmlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes cssSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes jsSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes reactSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes angularSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes sqlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes cSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes nodeSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}


/* Paragraphe Responsive */

.accueil-responsive {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url(../image/Responsive.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}
.accueil-responsive h2{
  text-align: center;
  font-size: 2.2rem;
}
.accueil-responsive p {
  font-size: 1.2rem;
  text-align: center;
}
/* Media Queries */

@media screen and (min-width: 960px) {
  .accueil-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../image/EspacedeTravail.jpg) no-repeat;
    background-position: none;
  }

  .accueil-banner h3 {
    font-size: 5rem;
  }
  .accueil-banner h4 {
    font-size: 2.5rem;
  }
}
